body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://img.freepik.com/free-photo/medicine-capsules-global-health-with-geometric-pattern-digital-remix_53876-126742.jpg");
  background-size: cover;
}

.login-container {
  width: 400px;
  margin: 100px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #7389be;
}

form {
  margin-top: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"],
select,
input[type="date"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  width: 100%;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #7389be;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #556aa6;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}
